/* Styles for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: #000;
}


/* navbar start */

.active2 {
    display: none;
}

.topnav2 a {
    display: none;
}

.text {
    color: #f2f2f2;
}

.hmater {
    width: 100vw;
}

.topnav {
    background-color: rgba(47, 37, 72, 0);
    display: grid;
    width: 100%;
    padding: 33px 0px;
    backdrop-filter: blur(0px);
    z-index: 2;
    transition: backdrop-filter 0.3s, background-color 0.3s ease;
}

.nav-scrolled {
    position: fixed;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0);
}

.holder {
    font-family: 'Urbanist';
    width: fit-content;
    margin-right: 10vw;
    place-self: center end;
    grid-row: 2;
}

.holder a:hover {
    cursor:pointer;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(196, 192, 192);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.join:hover {
    width: fit-content;
    background-color: #7300ff;
    color: white;
}

.holder1 {
    display: flex;
    width: fit-content;
    margin-left: calc(10vw + 16px);
    place-self: center start;
    grid-row: 2;
}

.topnav a {
    color: #f2f2f2;
    font-weight: 500px;
    font-family: 'Urbanist';
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.topnav a:after {
    transform-origin: bottom right;
    transition: 0.25s ease-out;
}

.topnav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.topnav a.active {
    background-image: linear-gradient(to bottom right, #9d4cbde1 ,#4d28b1);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(134, 50, 184);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#imghead {
    height: 30px;
    align-self: center;
}

#cont {
    align-self: center;
    padding-left: 14px;
    color: #ddd;
    font-size: 5vh;
    font-weight: bold;
}

/* nav end */
/*
/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/wave-haikei.svg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.text {
    font-size: 2.5em;
    font-weight: bold;
}

/* Extra Styling */
.bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

 h1{
      font-size: 20rem;
        filter: opacity(0.5);
    }
  }

/* Biography Section */
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #4d59ff, rgba(204, 0, 255, 0.4))
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #0307f4, #f700ff)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #3a03ff, #c300ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #4d59ff;
  border: 1px solid rgba(204, 0, 255, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/* CSS */
.button-33 {
    background-color: #dfc2fb;
    border-radius: 100px;
    box-shadow: rgba(82, 44, 187, 0.35) 0 -25px 18px -14px inset,rgba(106, 44, 187, 0.25) 0 1px 2px,rgba(158, 44, 187, 0.25) 0 2px 4px,rgba(75, 44, 187, 0.25) 0 4px 8px,rgba(123, 44, 187, 0.25) 0 8px 16px,rgba(170, 44, 187, 0.25) 0 16px 32px;
    color: rgb(87, 0, 128);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(82, 44, 187, 0.35) 0 -25px 18px -14px inset,rgba(106, 44, 187, 0.25) 0 1px 2px,rgba(158, 44, 187, 0.25) 0 2px 4px,rgba(75, 44, 187, 0.25) 0 4px 8px,rgba(123, 44, 187, 0.25) 0 8px 16px,rgba(170, 44, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    color: white;
}
