/* Styles for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    background-color: #000;
    color: white;
}

body {
    display: grid;
    height: 100%;
    place-items: center;
}

/* navbar start */

.active2 {
    display: none;
}

.topnav2 a {
    display: none;
}

.text {
    color: #f2f2f2;
}

.hmater {
    width: 100vw;
}

.topnav {
    background-color: rgba(47, 37, 72, 0);
    display: grid;
    width: 100%;
    padding: 33px 0px;
    backdrop-filter: blur(0px);
    z-index: 2;
    transition: backdrop-filter 0.3s, background-color 0.3s ease;
}

.nav-scrolled {
    position: fixed;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0);
}

.holder {
    font-family: 'Urbanist';
    width: fit-content;
    margin-right: 10vw;
    place-self: center end;
    grid-row: 2;
}

.holder a:hover {
    cursor:pointer;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(196, 192, 192);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.join:hover {
    width: fit-content;
    background-color: #7300ff;
    color: white;
}



.holder1 {
    display: flex;
    width: fit-content;
    margin-left: calc(10vw + 16px);
    place-self: center start;
    grid-row: 2;
}

.topnav a {
    color: #f2f2f2;
    font-weight: 500px;
    font-family: 'Urbanist';
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.topnav a:after {
    transform-origin: bottom right;
    transition: 0.25s ease-out;
}

.topnav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.topnav a.active {
    background-image: linear-gradient(to bottom right, #9d4cbde1 ,#4d28b1);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(134, 50, 184);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#imghead {
    height: 30px;
    align-self: center;
}

#cont {
    align-self: center;
    padding-left: 14px;
    color: #ddd;
    font-size: 5vh;
    font-weight: bold;
}

/* nav end */

/* sections code start */

.section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjusted height for uniqueness */
}

/* sections code end */

/* hero */

.hero {
    margin: 0;
    padding: 0;
    min-height: 80vh; /* Adjusted height for uniqueness */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/layered-waves-haikei.svg');
    background-position: center bottom; /* Center the background image */
    background-size: 100%; /* Ensure the image covers the entire hero section without stretching */
    background-repeat: no-repeat;
}

.text {
    font-size: 8vh; /* Adjusted font size for uniqueness */
    font-weight: 800;
    outline: none;
    background: linear-gradient(135deg, #0000FF 0%, #7300ff 25%, #7700FF 50%, #A600FF 75%, #3A00A7 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 7.5s linear infinite;
    text-align: center; /* Center text horizontally */
    display: flex; /* Center text vertically */
    align-items: center;
    justify-content: center;
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}

/* End of hero styles */

/* section 1 start */

#one {
    margin: 0;
    padding: 0;
    min-height: 80vh; /* Adjusted height for uniqueness */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/wave-haikei\ \(1\).svg   ');
    background-position: center bottom; /* Center the background image */
    background-size: 100%; /* Ensure the image covers the entire hero section without stretching */
    background-repeat: no-repeat;
}

/* section 1 end */
