* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    background-color: #000;
}

*::selection {
    background-color: #ffffff;
    color: #000000;
}

/* Custom ScrollBar*/

.scroll {
    overflow: overlay;
  }
  
  .scroll::-webkit-scrollbar {
    inline-size: 11px;
  }
  
  .scroll::-webkit-scrollbar-track {
  
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #0000FF,#7700FF);
    border-radius: 10px;
    border-block: none;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-transition: border 0.2s ease;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 130, 130);
    border-radius: 10px;
    border-block: none;
    inline-size: 13px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .scroll::-webkit-scrollbar:hover {
    background-color: #28282ece;
  }

  /* End of Custom ScrollBar */

  /* Navbar */

  .active2 {
    display: none;
  }
  
  .topnav2 a {
    display: none;
  }
  
  .text {
    color: #f2f2f2;
  }
  
  .hmater {
    width: 100vw;
  }
  
  .topnav {
    background-color: rgba(47, 37, 72, 0);
    display: grid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 33px 0px;
    backdrop-filter: blur(0px);
    z-index: 2;
    transition: backdrop-filter 0.3s, background-color 0.3s ease;
  }
  
  .nav-scrolled {
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.510);
  }
  
  .holder {
    font-family: 'Urbanist';
    width: fit-content;
    margin-right: 10vw;
    place-self: center end;
    grid-row: 2;
  }

  .holder a:hover {
    cursor:pointer;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(196, 192, 192);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  
  .holder1 {
    display: flex;
    width: fit-content;
    margin-left: calc(10vw + 16px);
    place-self: center start;
    grid-row: 2;
  }
  
  .topnav a {
    color: #f2f2f2;
    font-weight: 500px;
    font-family: Helvetica;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .topnav a:after {
    transform-origin: bottom right;
    transition: 0.25s ease-out;
  }
  
  .topnav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .topnav a.active {
    background-image: linear-gradient(to bottom right, rgba(157, 76, 189, 0.884) ,rgb(77, 40, 177));
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(134, 50, 184);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  
  #imghead {
    height: 30px;
    align-self: center;
  }
  
  #cont {
    align-self: center;
    padding-left: 14px;
    color: #ddd;
    font-size: 5vh;
    font-weight: bold;
  }

  /* End OF NAVBAR */

.one {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 10vw;
  }

body{
    display: grid;
    height: 100%;
    place-items: center;
    /* background: #000; */
  }
  .text{
    font-size: 10vh;
    font-weight: 800;
    outline: none;
    background: linear-gradient(135deg, #0000FF 0%, #7300ff 25%, #7700FF 50%, #A600FF 75%, #3A00A7 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: animate 7.5s linear infinite;
  }
  @keyframes animate {
    to {
      background-position: 400%;
    }
  }

  /* end of hero */

  /* start of section 1 */